/* Screenshot flash */
@keyframes flash_animation {
    50% {
        opacity: 0.2;
    }
}

.flash {
    border: 1px solid transparent;
    animation: flash_animation;
    animation-duration: 300ms;
    animation-iteration-count: 1;
}

.thumbnail {
    border: 1px solid @theme_bg_color;
    background: mix (@theme_bg_color, shade (@theme_bg_color, 0.5), 0.5);
}
